$color-white:#FFF;
$color-black:#111;
$color-disabled:#AAA;
$color-disabled-bg:#DDD;

// Palette URL: http://paletton.com/#uid=75C1Z0kT2qqDoM1QnwAUNl6WDf3 */
$color-primary-0: #D10005;	// Main Primary color */
$color-primary-1: #FE0006;
$color-primary-2: #FD0006;
$color-primary-3: #A70004;
$color-primary-4: #770003;

$color-secondary-1-0: #C0CF00;	// Main Secondary color (1) */
$color-secondary-1-1: #EBFD00;
$color-secondary-1-2: #E9FB00;
$color-secondary-1-3: #9AA600;
$color-secondary-1-4: #6E7600;

$color-secondary-2-0: #6A018B;	// Main Secondary color (2) */
$color-secondary-2-1: #A406D7;
$color-secondary-2-2: #8202AA;
$color-secondary-2-3: #55016F;
$color-secondary-2-4: #3C004F;

$color-complement-0: #08AB00;	// Main Complement color */
$color-complement-1: #0CE800;
$color-complement-2: #0ACF00;
$color-complement-3: #078800;
$color-complement-4: #056100;

$screen-xs: 480px;
$screen-xs-max: 767px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1440px;
$breakpoints: (
    'xs': $screen-xs,
    'sm': $screen-xs-max,
    'md': $screen-md,
    'lg': $screen-lg,
    'xl': $screen-xl
) !default;