#chat {
	height:100%;

	$message-height:52px;

	& > .clr {
		&:first-child {
			height:calc(100% - #{$message-height});
		}

		& > .left {
			display:flex;
			flex-direction:column;
			width:70%;
			height:100%;

			@include bp("sm"){
				width:100%;
			}

			.scroll-wrap {
				flex-grow:1;
			}
		}

		& > .right {
			display:flex;
			flex-direction:column;
			width:calc(#{30%} - #{space(3)});
			height:100%;
			margin-left:space(3);

			@include bp("sm"){
				display:none;
			}

			h3 {
				font-size:toEm(20);
				line-height:toEm(24, 20);
			}

			.top, .bottom {
				display:flex;
				flex-direction:column;
				height:50%;

				.scroll-wrap {
					flex-grow:1;
					border:1px solid $color-secondary-1-4;
				}

				p {
					margin:space(1);
					color:$color-white-5;
				}

				li {
					button {

					}
				}
			}
		}
	}

	.scroll-wrap {
		border:1px solid $color-secondary-1-0;
		box-sizing:border-box;
	}

	.message {
		display:table;
		width:100%;
		height:$message-height;

		& > * {
			display:table-cell;
			vertical-align:bottom;

			&:first-child {
				width:100%;
			}
		}

		input {
			display:block;
			width:100%;
		}

		.btn {
			margin:space(2) 0 0 space(2);
			position:relative;
			top:2px;
			padding:space(1.125) space(2);
			line-height:14px;
		}
	}

	.select-wrap {
		display:table;
		margin-top:space(2);

		label, select {
			display:table-cell;
		}

		label {
			width:1px;
			white-space:nowrap;
			padding-right:space(2);
		}

		select {
			width:100%;
		}
	}

	ol.messages {
		width:100%;
		box-sizing:border-box;
		padding:0 space(1);

		li {
			width:100%;
			margin:space(1) 0;

			.from, .content {
				float:left;
				clear:both;
				background-color:$color-secondary-2-4;
			}

			.from {
				padding:space(0.5);
				font-size:toEm(12);
			}

			.content {
				padding:space(1);
			}

			&.system {
				color:$color-complement-1;

				.from {
					display:none;
				}
				.content {
					background-color:transparent;
				}
			}

			&.self {
				text-align:right;

				.from, .content {
					float:right;
					background-color:$color-primary-4;
				}
			}
		}
	}
}