#chat {
	height:100%;

	$message-height:50px;

	.clr {
		height:calc(100% - #{$message-height});
	}

	.scroll-wrap {
		background-color:$color-form-bg;
		border:1px solid $color-secondary-1-0;
		box-sizing:border-box;
	}

	.left {
		display:flex;
		flex-direction:column;
		width:70%;
		height:100%;

		@include bp("sm"){
			width:100%;
		}

		.scroll-wrap {
			flex-grow:1;
		}
	}

	.right {
		display:flex;
		flex-direction:column;
		width:calc(#{30%} - #{space(3)});
		height:100%;
		margin-left:space(3);

		@include bp("sm"){
			display:none;
		}

		h3 {
			font-size:toEm(20);
			line-height:toEm(24, 20);
		}

		.top, .bottom {
			display:flex;
			flex-direction:column;
			height:50%;

			.scroll-wrap {
				flex-grow:1;
				background-color:$color-black;
				border:1px solid $color-secondary-1-4;
			}

			li {
				button {

				}
			}
		}
	}

	.message {
		display:table;
		width:70%;
		height:$message-height;

		@include bp("sm"){
			width:100%;
		}

		& > * {
			display:table-cell;
			vertical-align:bottom;

			&:first-child {
				width:100%;
			}
		}

		input {
			display:block;
			width:100%;
		}

		.btn {
			margin:space(2) 0 0 space(2);
		}
	}
}