#chat {
	height:100%;

	& > .flex-v {
		height:100%;

		.bottom {
			margin:space(1) 0;
		}

		&.scroll-wrap {
			scroll-snap-type:mandatory;
			scroll-snap-points-x:repeat(100%);
			scroll-snap-type:x mandatory;

			//Scroll point
			&:before {
				content:"";
				position:absolute;
				left:0%;
				top:0;
				scroll-snap-align:start;
			}

			//Scroll point
			&:after {
				content:"";
				position:absolute;
				left:100%;
				top:0;
				scroll-snap-align:start;
			}
		}
	}

	.panel.left {
		width:70%;
		height:100%;
	}

	.panel.right {
		width:calc(#{30%} - #{space(3)});
		height:100%;
		margin-left:space(3);

		h3 {
			font-size:toEm(20);
			line-height:toEm(24, 20);
		}

		.scroll-wrap {
			border:1px solid $color-secondary-1-4;
		}

		p {
			margin:space(1);
			color:$color-white-5;
		}
	}

	.panel.right.flex-v {
		& > div {
			height:50%;
		}
	}

	.panel.left {
		.scroll-wrap {
			border:1px solid $color-secondary-1-0;

			p.not-supported {
				margin:space(1);
			}
		}
	}

	@include bp("sm"){
		& > .flex-v {
			& > .flex-h {
				width:200%;
				max-width:200%;
			}
		}

		.panel.left {
			width:50%;
		}

		.panel.right {
			width:50%;
			margin:0;
		}
	}

	ol.messages {
		width:100%;
		box-sizing:border-box;
		padding:0 space(1);

		li {
			width:100%;
			margin:space(1) 0;

			.from, .content, time {
				float:left;
				clear:both;
				background-color:$color-secondary-2-4;
			}

			.from {
				padding:space(0.5);
				font-size:toEm(12);
			}

			.content {
				padding:space(1);
			}

			time {
				padding:space(0.5);
				font-size:toEm(10);
			}

			&.system {
				color:$color-complement-1;

				.from {
					display:none;
					background-color:transparent;

					&:after {
						content:":";
						display:inline;
					}
				}
				.content {
					background-color:transparent;
					padding:0;
				}
				time {
					background-color:transparent;
					padding:space(0.5) 0;
				}
			}

			&.self {
				text-align:right;

				.from, .content, time {
					float:right;
					background-color:$color-primary-4;
				}
			}
		}
	}

	.message-input {
		textarea {
			resize:vertical;
			max-height:50vh;
		}

		.btn {
			margin:space(0.5) 0 space(0.5) space(1);
		}
	}

	.select-wrap.flex-h {
		display:flex;

		label {
			margin:10px 0 0 0;
			padding:0;
		}

		select {
			margin-left:space(1);
		}
	}
}